<launch>

  <include file="$(find cyton_gamma_pkg)/launch/gamma_1500_gaz.launch"/>
  <include file="$(find gamma_1500_moveit_config)/launch/move_group.launch"/>
  <include file="$(find gamma_1500_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="True"/>
  </include>

</launch>
